# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
RewriteEngine On
RewriteRule ^buscar/(.*)/product?$ buscar.php?search=$1  [NC,L]
RewriteRule ^description/([0-9]+)?$ buscar.php?description=$1  [NC,L]
RewriteRule ^dataset/(.*)/product?$ buscar.php?dataset=$1  [NC,L]
